.footerIMessage{
    background: white;
    padding: 15px;
    border: 0px solid transparent; 
}

.footerIMessage input{
    border: 2px solid silver;
}

.headerChat h1{
    font-weight: bolder;
    font-size: 20px;
    color: #616061;
}

.headerChat h4{
    font-weight: 200;
    font-size: 15px;
    color: gray;
}

.headerChat{
    background: white;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid silver;
}

/*Nombre de usuario*/
.message-block h4{
    font-size: 15px;
    font-family: Ubuntu;
}

/*Mensaje*/
.message-block h5{
    font-size: 13px;    
    font-family: Ubuntu;    
    font-weight: 200;
}

/*Hora*/
.message-block span{
    font-size: 11px;
    font-family: Ubuntu;    
    font-weight: 200;
    color: gray;    
}

.message-block{
    overflow-y: scroll;
}